<FilesMatch "\.htaccess$">
    Deny from all
</FilesMatch>

### mod_rewrite section start
<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L]
</IfModule>
### mod_rewrite section end
